@{
    Layout = "_LayoutAdmin";
}
@model Proyecto_TiendaElectronica.Models.Articulo


@Html.Raw(TempData["SweetAlertScript"])

<div class="visually-hidden" id="error">
    @ViewBag.Error
</div>

<h2 class="mb-3">Crear Articulo</h2>

<div class="admin-element">
    <form asp-action="CrearArticulo" method="post" enctype="multipart/form-data">
        <div class="row mb-3">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="input_container">
                    <label class="input_label" asp-for="Nombre">Nombre</label>
                    <i class="fa-solid fa-laptop icon"></i>
                    <input placeholder="Computadora" asp-for="Nombre" class="input_field" type="text">
                </div>
                <div class="text-center text-break">
                    <span class="error-form" asp-validation-for="Nombre"></span>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="input_container">
                    <label class="input_label" asp-for="Precio">Precio</label>
                    <i class="fa-solid fa-money-bill icon"></i>
                    <input placeholder="50000" asp-for="Precio" class="input_field" type="number">
                </div>
                <div class="text-center text-break">
                    <span class="error-form" asp-validation-for="Precio"></span>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="input_container">
                    <label class="input_label" asp-for="Cantidad">Cantidad</label>
                    <i class="fa-solid fa-arrow-up-wide-short icon"></i>
                    <input placeholder="25" asp-for="Cantidad" class="input_field" type="number">
                </div>
                <div class="text-center text-break">
                    <span class="error-form" asp-validation-for="Cantidad"></span>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="input_container">
                    <label class="input_label" asp-for="Marca">Marca</label>
                    <i class="fa-solid fa-building icon"></i>
                    <input placeholder="Lenovo" asp-for="Marca" class="input_field" type="text">
                </div>
                <div class="text-center text-break">
                    <span class="error-form" asp-validation-for="Marca"></span>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="input_container">
                    <label class="input_label" asp-for="Descripcion">Descripcion</label>
                    <i class="fa-solid fa-pen icon"></i>
                    <input placeholder="Computadora con procesador Intel Core i7, 16GB RAM, 512GB SSD" asp-for="Descripcion" class="input_field" type="text">
                </div>
                <div class="text-center text-break">
                    <span class="error-form" asp-validation-for="Descripcion"></span>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="input_container">
                    <label class="input_label" asp-for="idCategoria">Categoría</label>
                    <i class="fa-solid fa-list icon"></i>
                    <select asp-for="idCategoria" class="input_field">
                        <option value="">Seleccione la categoria</option>
                        @if (ViewBag.Categorias != null)
                        {
                            @foreach (var categoria in ViewBag.Categorias)
                            {
                                <option value="@categoria.Value">@categoria.Text</option>
                            }
                        }
                        else
                        {
                            <option value="">No hay categorías disponibles</option>
                        }
                    </select>
                </div>
                <div class="text-center text-break">
                    <span class="error-form" asp-validation-for="idCategoria"></span>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="form-field col-lg-4">
                <div class="input_container">
                    <label class="label-file" for="Imagen1">Seleccionar Imagen 1</label>
                    <input asp-for="Imagen1" type="file" accept="image/*" class="input-file js-input">
                    <img id="preview1" class="img-preview" />
                </div>
                <div class="text-center text-break">
                    <span class="error-form" asp-validation-for="Imagen1"></span>
                </div>
            </div>
            <div class="form-field col-lg-4">
                <div class="input_container">
                    <label class="label-file" for="Imagen2">Seleccionar Imagen 2</label>
                    <input asp-for="Imagen2" type="file" accept="image/*" class="input-file js-input">
                    <img id="preview2" class="img-preview" />
                </div>
                <div class="text-center text-break">
                    <span class="error-form" asp-validation-for="Imagen2"></span>
                </div>
            </div>
            <div class="form-field col-lg-4">
                <div class="input_container">
                    <label class="label-file" for="Imagen3">Seleccionar Imagen 3</label>
                    <input asp-for="Imagen3" type="file" accept="image/*" class="input-file js-input">
                    <img id="preview3" class="img-preview" />
                </div>
                <div class="text-center text-break">
                    <span class="error-form" asp-validation-for="Imagen3"></span>
                </div>
            </div>
        </div>

        <a href="@Url.Action("Articulos")" class="btn boton-secundario mt-3">
            <span class="shadow-volver"></span>
            <span class="edge-volver"></span>
            <span class="front-volver text">
                Volver
            </span>
        </a>
        <button type="submit" class="btn boton mt-3">
            <span class="shadow"></span>
            <span class="edge"></span>
            <span class="front text">
                Guardar
            </span>
        </button>

    </form>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
